body{
    background-image: url(../img/bg-noticias.jpg) !important;
    /* background: linear-gradient(rgb(0,0,0,0.500),rgb(0,0,0,0.500)), url("../img/bg.jpg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto
}

#first
{
  padding: 0;
}

#firstContainer
{
  margin-top: 150px;
  margin-bottom: 150px;
}

#lineOne
{
   border: 1px solid #FFF;
}

#formG
{
  margin-top: 50px;
}

